In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('insurance.csv')

In [4]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
df['sex'].replace('male',0,inplace=True)
df['sex'].replace('female',1,inplace=True)

In [7]:
df['smoker'].replace(['yes','no'],[1,0],inplace=True)

In [8]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [9]:
region1 = pd.get_dummies(df['region'], prefix= 'r')
region1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   r_northeast  1338 non-null   uint8
 1   r_northwest  1338 non-null   uint8
 2   r_southeast  1338 non-null   uint8
 3   r_southwest  1338 non-null   uint8
dtypes: uint8(4)
memory usage: 5.4 KB

In [10]:
df.drop(['region'],axis=1,inplace= True)
df2=pd.concat([df,region1],axis=1)

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   int64
 1   sex          1338 non-null   int64
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   int64
 4   smoker       1338 non-null   int64
 5   charges      1338 non-null   float64
 6   r_northeast  1338 non-null   uint8
 7   r_northwest  1338 non-null   uint8
 8   r_southeast  1338 non-null   uint8
 9   r_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

In [12]:
x=df2.drop('charges',axis=1)
y=df2['charges']

In [13]:
df.describe()

,age,sex,bmi,children,smoker,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.494768,30.663397,1.094918,0.204783,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,4740.287150
50%,39.000000,0.000000,30.400000,1.000000,0.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,63770.428010

In [14]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [15]:
nor_scaler= MinMaxScaler()
normal_x=nor_scaler.fit_transform(x)
x=pd.DataFrame(normal_x, columns=x.columns)

In [47]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   float64
 1   sex          1338 non-null   float64
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   float64
 4   smoker       1338 non-null   float64
 5   r_northeast  1338 non-null   float64
 6   r_northwest  1338 non-null   float64
 7   r_southeast  1338 non-null   float64
 8   r_southwest  1338 non-null   float64
dtypes: float64(9)
memory usage: 94.2 KB

In [17]:
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state=1)

In [19]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import roc_auc_score,r2_score,mean_squared_error
import warnings
warnings.filterwarnings('ignore')

In [20]:
knn_reg = KNeighborsRegressor()
knn_reg.fit(x_train,y_train)

KNeighborsRegressor()

In [21]:
y_pred= knn_reg.predict(x_test)

In [22]:
mean_squared_error(y_test,y_pred)

34496836.5419589

In [23]:
r2_score(y_test,y_pred)

0.7689128568041586

#Hyperparametric_tuning

In [24]:
n_neighbors = list(range(3,30))
p = [1,2]
hyperparamters = dict(n_neighbors = n_neighbors, p = p)

In [25]:
# 2. RandomizedSearchCV

knn_new = KNeighborsRegressor()
rscv = RandomizedSearchCV(knn_new, hyperparamters, cv = 5)
knn_model = rscv.fit(x_train,y_train)

In [26]:
knn_model.best_estimator_

KNeighborsRegressor(n_neighbors=10, p=1)

In [27]:
y_pred_best = knn_model.predict(x_test)

In [28]:
mean_squared_error(y_test,y_pred_best)

34156981.12546986

In [29]:
r2_score(y_test,y_pred_best)

0.7711894776531619

# Dump model

In [5]:
import pickle
import joblib

In [6]:
pickle.dump(knn_model,open('knn_model.pickle','wb'))

NameError: name 'knn_model' is not defined

In [44]:
test_ds=df2[888:894]

In [45]:
test_ds

,age,sex,bmi,children,smoker,charges,r_northeast,r_northwest,r_southeast,r_southwest
888,22,0,39.500,0,0,1682.59700,0,0,0,1
889,57,0,33.630,1,0,11945.13270,0,1,0,0
890,64,1,26.885,0,1,29330.98315,0,1,0,0
891,36,1,29.040,4,0,7243.81360,0,0,1,0
892,54,0,24.035,0,0,10422.91665,1,0,0,0
893,47,0,38.940,2,1,44202.65360,0,0,1,0

In [46]:
test_ds.to_csv('for_test_insu.csv')